<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>姓名案例_methods实现</title>
  <!-- 1、导入 vue.js -->
  <script src="./js/vue.js"></script>
</head>

<body>

  <!-- 2、准备好一个容器，是在页面中声明一个将要被vue所控制的DOM区域 -->
  <div id="root">
    <!-- 姓：<input type="text" v-model:value='firstName'><br><br> -->
    <!-- 名：<input type="text" v-model:value='lastName'><br><br> 简写如下：-->

    姓：<input type="text" v-model='firstName'><br><br>
    名：<input type="text" v-model='lastName'><br><br>
    全名：<span>{{fullName()}}</span>
  </div>

  <!-- 3、创建 vue 的实例对象 -->
  <script type="text/javascript">
    Vue.config.productionTip = false;  //阻止 vue在启动是生成的生产提示

    new Vue({
      el: '#root',
      data: {
        firstName: '张',
        lastName: '三',
      },
      methods: {
        fullName() {
          return this.firstName + '-' + this.lastName;
        }
      }

    });

  </script>

</body>

</html>